<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">
      <img src="/logo.png" alt="Logo">
    </a>

    <div class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul class="nav-menu">
      <li class="nav-item">
        <a 
          routerLink="/login" 
          routerLinkActive="active"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a 
          routerLink="/products" 
          routerLinkActive="active"
        >
          Products
        </a>
      </li>
      <li class="nav-item">
        <a 
          routerLink="/about" 
          routerLinkActive="active"
        >
          About
        </a>
      </li>
      <li class="nav-item">
        <a 
          routerLink="/contact" 
          routerLinkActive="active"
        >
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet />
